.root {
	position: relative;
	text-decoration: none;
	font-size: 18px;
	display: flex;
	align-items: center;
	gap: 4px;
}

.active::before {
	position: absolute;
	content: " ";
	width: 100%;
	background: #201B10;
	height: 1px;
	bottom: -4px;
}